// Move to @core/common/base.scss
$macysRed: #cc0000;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #375360;
}

.page-container {
  max-width: 1200px;
  padding: 2.0rem;
  margin: auto;
}

.mars-logo {
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
header h2 {
  text-align: left;
}
h3 {
  text-align: center;
  color: #375360;
}

.button {
  display: block;
  text-align: center;
  padding: 8px 48px;
  text-decoration: none;
  color: white;
  background-color: red;
  margin: 8px 0;
}

.primary-button {
  display: block;
  margin: auto;
}